@use '../variables' as v;
@use '../abstracts/sizes' as *;
@use '../abstracts/margins' as *;
@use '../abstracts/mixins.scss' as mix;
@import url(v.$Fraunces-Font-Family);

// Generating font sizes from map

* {
  margin: 0;
}
@each $device, $sizes,
  $em-size in $font-sizes
{
  @each $value, $size in $sizes {
    .fonts-device-#{$device}-#{$value} {
      font-size: $size;
      font-weight: 900;
    }
  }
}

// Generating margins from map values
@each $margin, $margin-value in $margins
{
  .m-#{$margin} {
    margin: $margin-value;
  }
  .mt-#{$margin} {
    margin-top: $margin-value;
  }
  .mb-#{$margin} {
    margin-bottom: $margin-value;
  }
  .mh-#{$margin} {
    margin-left: $margin-value;
    margin-right: $margin-value;
  }
  .mv-#{$margin} {
    margin-top: $margin-value;
    margin-bottom: $margin-value;
  }
}

.hero-view {
  background-image: url('../../images/mobile/image-header.jpg');
  height: 100%;
  // background-image: url('../../images/mobile/image-header.jpg');

  // width: 100vw;

  background-repeat: no-repeat;
  background-size: cover;

  .we-are-creatives {
    font-family: v.$Barlow-serif;
    font-size: v.$Font-base-size * 2;
    font-weight: v.$Fraunces-Weights-9;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: v.$White;
    margin-bottom: 2em;
    @include mix.left-right-margin(1em);
  }
  .arrow {
    display: flex;
    justify-content: center;
  }
}

.img-common {
  width: 100%;
}

.text-common {
  text-align: center;
  font-family: v.$Fraunces-serif;
}
.pragraph-common {
  font-family: v.$Barlow;
  font-size: 1.2em;
  line-height: 1.4em;
}

.opacity {
  opacity: 0.7;
}
.opacity-1 {
  opacity: 0.1;
}
.opacity-2 {
  opacity: 0.2;
}
.opacity-3 {
  opacity: 0.3;
}

.Graphic-D {
  background-image: url('../../images/mobile/image-graphic-design.jpg');
  height: 100vh;
  // background-image: url('../../images/mobile/image-header.jpg');

  // width: 100vw;

  background-repeat: no-repeat;
  background-size: cover;
  .text {
    position: relative;
    bottom: -57%;
    color: v.$Dark-desaturated-cyan-graphic-design-text;
  }
}
.Photography {
  background-image: url('../../images/mobile/image-photography.jpg');
  height: 100vh;
  // background-image: url('../../images/mobile/image-header.jpg');

  // width: 100vw;

  background-repeat: no-repeat;
  background-size: cover;
  .text {
    position: relative;
    bottom: -62%;
    color: v.$Dark-blue-photography-text;
  }
}
// Testimonial section
// Img
// paragraph
// name
// title
.testimonial {
  letter-spacing: 8px;
  text-transform: uppercase;
  .testimanial_client_card {
  }
}
.testimanial_client_img {
  object-fit: contain;
  width: 4.5em;
  border-radius: 14em;
  margin-bottom: 2.4em;
}
.testimanial_client_para {
  margin-bottom: 3em;
}

.testimanial_client_name {
  margin-bottom: 0.6em;
  font-size: 1.2em;
}
.testimanial_client_title {
  opacity: 0.3;
  margin-bottom: 6em;
}

.gallary {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(10em, 1fr)
  );
}
div .gallary-img {
  object-fit: contain;
  max-width: 100%;
}

footer {
  text-align: center;
  min-width: 100%;
  height: 100%;
  padding: 5em 0;
  background-color: v.$Dark-moderate-cyan-footer-bg;

  .brand {
    .brand-footer-img {
      height: 2em;
    }
  }
  ul {
    margin-top: 3em;
    list-style: none;
    li {
      display: inline;
      a {
        color: v.$Dark-moderate-cyan-footer;
        text-decoration: none;
        padding: 1em;
      }
    }
  }
}

@media screen and(min-width: 570px) {
  .transform-your-brand {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    .img-common-container {
      width: 100%;
    }
    .text-container {
      display: flex;
      flex-direction: column;

      // justify-content: center;
      width: 100%;
      // padding-left: 5em;

      margin: 0;
      .pragraph-common {
        width: 70%;
      }
    }
  }
  p,
  h1 {
    text-align: left;
  }

  .stand-out {
    width: 100%;
    display: flex;
    flex-direction: row;
    .text-container {
      // min-width: 40%;
    }
  }
  .GandP {
    display: flex;
  }
}
